.container {
  width: 95%;
  margin: 0 auto;
}

main {
  padding-bottom: 50px;
}

.spacer {
    flex: 1 1 auto;
}

.ui-section {
  margin-top: 20px;
}

.button-ui {
  margin: 20px 0px;
}

button + button {
  margin-left: 20px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 15px;
}
