<div class="navBar">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>

<main class="content">
    <div class="container">
      <section class="hero">
          <app-banner type="success" message="This compoent will get own"></app-banner>
      </section>
      <section class="ui-section">
          <div>
            <h4>Select Theme</h4>
            <mat-form-field class="drop-down">
              <mat-label>Choose an theme</mat-label>
              <mat-select (selectionChange)="setTheme($event)">
                <mat-option value="dark">Dark</mat-option>
                <mat-option value="light">Light</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <div class="button-ui">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
        </div>
      </section>

      <section class="card-section">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz
              breeds of dog from Japan. A small, agile dog that copes very well with
              mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
</main>
