@use '~@angular/material' as mat;
@use 'sass:map';

@mixin app-root-theme($theme) {
  $theme-colors         : mat.get-color-config($theme);
  $backgrounds          : map.get($theme-colors, background);

  .content {
    background-color: mat.get-color-from-palette($backgrounds, background);
  }
}
